COMPOSE_PROFILES=default,prod,celery
TZ=Europe/Moscow

BACKEND_PORT=2000

REDIS_PORT=6379

POSTGRES_PORT=5432
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

JWT_SECRET=your_jwt_secret
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=1440

SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REDIRECT_URI=http://localhost:2000/api/v1/spotify/callback

YANDEX_MUSIC_CLIENT_ID=your_yandex_client_id
YANDEX_MUSIC_CLIENT_SECRET=your_yandex_client_secret
YANDEX_MUSIC_REDIRECT_URI=http://localhost:2000/api/v1/yandex_music/callback

VK_CLIENT_ID=your_vk_client_id
VK_CLIENT_SECRET=your_vk_client_secret
VK_REDIRECT_URI=http://localhost:2000/api/v1/vk/callback